@import 'tailwindcss';
@import 'basecoat-css';

/* Geist Sans Variable */
@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist/variable/Geist[wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist/variable/Geist-Italic[wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

/* Geist Mono Variable */
@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/GeistMono/variable/GeistMono[wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/GeistMono/variable/GeistMono-Italic[wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-display: 'Geist', 'sans-serif';
	--font-sans: 'Geist', 'sans-serif';
	--font-mono: 'GeistMono', 'monospace';
	--grid-guide: oklch(0.93 0 0);
}

@layer base {
	.dark {
		--grid-guide: oklch(0.32 0 0);
	}
}

@utility grid-box {
	width: 100%;
	box-shadow: 0 0 0 1px var(--grid-guide);
}
