---
import { HTMLAttributes } from 'astro/types'
import Icon from './Icon.astro'

interface Props extends HTMLAttributes<'code'> {
	code: string
	wrap?: boolean
}

const { code, wrap = false, class: otherClasses, ...rest } = Astro.props as Props
---

<section
	class={'relative group/code ' + otherClasses}
	{...rest}>
	<pre
		class={'text-sm overflow-x-auto ' +
			(wrap ? 'whitespace-pre-wrap' : 'whitespace-pre')}><code>{code}</code></pre>

	<button
		type='button'
		class='btn-outline absolute top-2 right-2 opacity-0 transition-all duration-200 group-hover/code:opacity-100'
		onclick={`navigator.clipboard.writeText("${code}"); document.dispatchEvent(new CustomEvent('basecoat:toast', {
    detail: {
      config: {
        category: 'success',
        title: 'Success',
        description: 'Copied to clipboard',
        cancel: {
          label: 'Dismiss'
        }
      }
    }
  }))`}>
		<Icon name='copy' />
	</button>
</section>
